{{ define "main" }}
<div class="container-404">
    <div class="content">
        <!-- <img src="/imgs/404.gif" /> -->
        <div class="words">

            <b>约翰·多恩 《丧钟为谁而鸣》</b>
            <br><br>

            没有人是自成一体、<br>
            与世隔绝的孤岛，<br>
            每一个人都是广袤大陆的一部分。<br>
            如果海浪冲掉了一块岩石，<br>
            欧洲就变少。<br>
            如同一个海岬失掉一角，<br>
            如同你的朋友或者你自己的领地失掉一块。<br>
            每个人的死亡都是我的哀伤，<br>
            因为我是人类的一员。<br>
            所以，<br>
            不要问丧钟为谁而鸣，<br>
            它就为你而鸣！<br>

            <br>
            <br>
            <br>

        </div>
    </div>
</div>
{{ end }}